#landingPage {
	/*opacity .60*/
	background-color: rgba(0, 0, 0, .60);
}

body {
	background-image: url(https://steamuserimages-a.akamaihd.net/ugc/843710577592077097/2B7C72BF1480F352C3373C89199A253BB914AC55/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#gmap_canvas {
	height: 80vh;
	width: 100%;
}

.fa-icons {
	font-size: 2rem;
}

html {
	scroll-behavior: smooth;
}